doctype html
html(lang="en")
	head
		block head

		block css
			link(
				rel="stylesheet"
				type="text/css"
				href="/public/css/common.css"
			)
			link(
				rel="stylesheet"
				type="text/css"
				href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
			)
			link(
				rel="stylesheet"
				type="text/css"
				href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"
			)
			link(
				rel="stylesheet"
				type="text/css"
				href="/bower_components/font-awesome/css/font-awesome.min.css"
			)
	body
		- var nav_header_classes = ['navbar', 'navbar-inverse', 'navbar-fixed-top']
		nav(
			class=nav_header_classes
			role='navigation'
		)
			a(class='navbar-brand' href="#") Candle

		div(class='container-fluid')
			div.row
				block content

		block scripts
			script(src="/bower_components/jquery/dist/jquery.min.js")
			script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
			script(src="/bower_components/angularjs/angular.min.js")
