extends _layout

block head
	title= "Information for " + clientId

block content
	if clientData
		if activePages
			div.active-pages
				h3 Active Pages
				for tab in activePages
					div
						span= tab.url

		div.all-pages
			h3 All Pages
			ul
				for tab in clientData
					mixin render_tab(tab)

		if windowData
			div.window-data
				h3 Active Windows
				ul
					li
						each window, index in windowData
							h4= index
							ul
								for tab in window
									mixin render_tab(tab)

mixin render_tab(tab)
	li.single-tab
		div
			p Title: #{tab.title}
			p URL: #{tab.url}
			p ID: #{tab.id}
			p Index: #{tab.index}

			mixin tab_actions(tab)

mixin tab_actions(tab)
	div.tab-actions
		ul
			li
				a(
					class="client-action select"
					href="/client/#{clientId}/select/#{tab.id}"
					)= "Make Active"
			li
				a(
					class="client-action close"
					href="/client/#{clientId}/close/#{tab.id}"
				)= "Close"


block append scripts
	script(src="/public/js/client.js")

