extends _layout

block head
	title= "Information for " + clientId

block content
	div(class="client-container col-md-12")
		if clientData
			div(class="panel panel-default currently-active")
				div.panel-heading
					h3.panel-title Currently focused tabs on #{clientId}

				div.panel-body
					mixin render_tabs(activePages)

			div(class="panel panel-default all-tabs")
				div.panel-heading
					h3.panel-title All tabs on #{clientId}

				div.panel-body
					mixin render_tabs(clientData)


mixin render_tabs(tabs)
	table(class="table table-hover")
		tr
			th Tab title
			th Tab URL
			th ID
			th Index
			th Actions

		for tab in tabs
			tr
				td #{tab.title}
				td 
					a(
						href="#{tab.url}"
					)
						span #{tab.url}
				td #{tab.id}
				td #{tab.index}
				td
					mixin tab_actions(tab)

mixin tab_actions(tab)
	div.dropdown
		button(class="btn btn-default dropdown-toggle", type="button", data-toggle="dropdown")
			span.caret

		ul(class="dropdown-menu dropdown-menu-right")
			li
				a(
					class="js-select"
					href="/client/#{clientId}/select/#{tab.id}"
				)= "Make Active"
			li
				a(
					class="js-close"
					href="/client/#{clientId}/close/#{tab.id}"
				)= "Close"

mixin window_actions(windowId, window)
	div.window-actions
		h4 Window Options
		ul
			li
				form.new-url
					input(
						class="window-action new-url-input"
						type="text"
						placeholder="Enter a url to open"
						size="100"
					)
					input(
						value="Open"
						class="window-action new-url-submit"
						type="submit"
						action="/client/#{clientId}/newtab/#{windowId}"
					)
			li
				a(
					class="window-action toggle-rotate"
					href="/client/#{clientId}/rotate/#{windowId}"
				)= "Toggle rotation"

block append scripts
	script(src="/public/js/client.js")

block append css
	link(
		rel="stylesheet"
		type="text/css"
		href="/public/css/client.css"
	)
