extends _layout

block head
	title= "Information for " + clientId

block content
	if clientData
		if activePages
			div.active-pages
				h3 Active Pages
				for tab in activePages
					div
						span= tab.url

		div.all-pages
			h3 All Tabs
			p All tabs open in all windows.
			ul
				for tab in clientData
					mixin render_tab(tab)

		if windowData
			div.window-data
				h3 Active Windows
				p Open tabs grouped by window ID.
				ul
					each window, index in windowData
						li.single-window
							h4= index
							mixin window_actions(index, window)
							ul
								for tab in window
									mixin render_tab(tab)

mixin render_tab(tab)
	li.single-tab
		div
			p Title: #{tab.title}
			p URL: #{tab.url}
			p ID: #{tab.id}
			p Index: #{tab.index}

			mixin tab_actions(tab)

mixin tab_actions(tab)
	div.tab-actions
		ul
			li
				a(
					class="tab-action select"
					href="/client/#{clientId}/select/#{tab.id}"
					)= "Make Active"
			li
				a(
					class="tab-action close"
					href="/client/#{clientId}/close/#{tab.id}"
				)= "Close"

mixin window_actions(windowId, window)
	div.window-actions
		h4 Window Options
		ul
			li
				form.new-url
					input(
						class="window-action new-url-input"
						type="text"
						placeholder="Enter a url to open"
						size="100"
					)
					input(
						value="Open"
						class="window-action new-url-submit"
						type="submit"
						action="/client/#{clientId}/newtab/#{windowId}"
					)
			li
				a(
					class="window-action toggle-rotate"
					href="/client/#{clientId}/rotate/#{windowId}"
				)= "Toggle rotation"

block append scripts
	script(src="/public/js/client.js")

block append css
	link(
		rel="stylesheet"
		type="text/css"
		href="/public/css/client.css"
	)
