extends _layout

block head
	title= "Candle"

block content
	div(class="index-container col-md-12")
		if clients.length
			for client in clients
				mixin render_client(client)
		else
			div(class='alert alert-info') You don't seem to have any connected Candle Clients.

mixin render_client(client)
	- var client_classes = ['panel', 'panel-default']
	div(class=client_classes)
		div.panel-heading
			h3.panel-title Client ID: #{client.id}

		div.panel-body
			mixin client_actions(client)
			mixin client_information(client)

mixin client_actions(client)
	div.client-actions
		ul
			li
				a(href="/client/#{client.id}")= "Administrate"
			li
				a(
					class="client-action clear"
					href="/client/delete/#{client.id}"
				)= "Delete client data"

mixin client_information(client)
	if client.active
		div
			h4 Active Pages
			ul
				for page in client.active
					li
						a(href="#{page.url}")= page.title

	if client.windows
		div
			h4 Active Windows
			ul
				for window in client.windows
					li
						a(href="#{page.url}")= page.title

block append css
	link(
		rel="stylesheet"
		type="text/css"
		href="/public/css/index.css"
	)

block append scripts
	script(src="/public/js/index.js")
